body{
color:white;
background-color:black;
margin:0;
padding-bottom:100px;
font-family:arial;
}
.background{
position:fixed;

}
h1{
margin:1rem 0 10rem 0;
text-align:center;
background-color:gold;
padding:8px 10px;
border:2px solid green;
border-radius:4px;
}
.image{
display:flex;
justify-content:center;
}

.etiquette{
font-weight:bold;
font-size:50px;

padding:10px 10px;
background-color:rgb(32,194,14);
font-family:arial;
border-radius:100px;
margin-bottom:2rem;
position:relative;
z-index:5;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
width:400px;
text-align:center;
}
.etiquettes{
display:flex;
flex-direction:column;
align-items:center;

}
.li{
color:white;
text-decoration:none;
}
.li:visited{
color:gold;
text-decoration:none;
}
.li:hover ,.li:active{
text-decoration:underline;
}
